body {
    white-space: nowrap;
    width: 100%;

}
#targetwrapper {
    position: relative;
    height:80vh;
}
#target {
    position: absolute;
    bottom: 0;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

#detailedDisplay {
  display: flex;
  align-items: center;
  flex-direction: row;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 0;
  
}

.detailedLabel {
  transform: rotate(90deg) translateY(20px);
  margin: 0 auto;
}

.detailedMeter {
  max-height: 100%;
  
}
p {
   
}

.container {
    margin: 2em;
    vertical-align: bottom;
    display: inline-block;
}
.meter {
    width: 40px;
    background-color: blue;
    transition: transform 1s ease;
    position: relative;
}

meter {
    width: 100%;
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
}
